**/*.ts
**/*.map
.gitignore
.github
.vscode/
.vscode-test/
.vscode_cobol/
azure-pipelines.yml
dist/
images/cobol.jpg
images/cobol.psd
images/cobol.xcf
justpublish.sh
node_modules
!node_modules/lzjs/**/*.js
!node_modules/lzjs/**/*.json
!node_modules/lzjs/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/minimatch/**/*.js
!node_modules/minimatch/**/*.json
!node_modules/minimatch/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/brace-expansion/**/*.js
!node_modules/brace-expansion/**/*.json
!node_modules/brace-expansion/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/balanced-match/**/*.js
!node_modules/balanced-match/**/*.json
!node_modules/balanced-match/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/concat-map/**/*.js
!node_modules/concat-map/**/*.json
!node_modules/concat-map/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/n-readlines/**/*.js
!node_modules/n-readlines/**/*.json
!node_modules/n-readlines/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/performance-now/**/*.js
!node_modules/performance-now/**/*.json
!node_modules/performance-now/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/properties-reader/**/*.js
!node_modules/properties-reader/**/*.json
!node_modules/properties-reader/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/trie-search/**/*.js
!node_modules/trie-search/**/*.json
!node_modules/trie-search/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/hasharray/**/*.js
!node_modules/hasharray/**/*.json
!node_modules/hasharray/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/jclass/**/*.js
!node_modules/jclass/**/*.json
!node_modules/jclass/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/typescript-collections/**/*.js
!node_modules/typescript-collections/**/*.json
!node_modules/typescript-collections/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/typescript-string-operations/**/*.js
!node_modules/typescript-string-operations/**/*.json
!node_modules/typescript-string-operations/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/which/**/*.js
!node_modules/which/**/*.json
!node_modules/which/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
!node_modules/isexe/**/*.js
!node_modules/isexe/**/*.json
!node_modules/isexe/**/[Ll][Ii][Cc][Ee][Nn][Ss][Ee]*
src/
publishit.sh
tsconfig.json
tslint.json
webpack.config.js