.vscode/**
.vscode-test/**
.vscode_cobol/**
out/test/**
out/**/*.map
src/**
webpack.config.js
node_modules
!node_modules/minimatch
!node_modules/brace-expansion
!node_modules/concat-map
!node_modules/balanced-match
!node_modules/trie-search
!node_modules/hasharray
!node_modules/jclass
!node_modules/typescript-collections
!node_modules/n-readlines
!node_modules/typescript-string-operations
!node_modules/lzjs
!node_modules/properties-reader
!node_modules/which
!node_modules/isexe
!node_modules/perf_hooks
!node_modules/performance-now
**/*.ts
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
