**/*.ts
**/*.map
.gitignore
.github
.vscode/
.vscode-test/
.vscode_cobol/
azure-pipelines.yml
images/cobol.jpg
images/cobol.psd
images/cobol.xcf
justpublish.sh
node_modules
docs/
out/
src/
arc/
publishit.sh
bld_cobscanner.sh
justpublish.sh
publishit2gitonly.sh
gen_changelog.sh
rm_git_release.sh
tsconfig.json
tslint.json
webpack.config.js
